* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

header {
  background-color: #5afdc7;
  padding: 16px 32px 16px 16px;
}

header nav ul li {
  display: inline-block;
}

header nav ul li li {
  list-style-type: none;
}

header nav ul li li a {
  text-decoration: none;
  font-size: 16px;
}

.azul {
  color: #0303ff;
  font-weight: lighter;
  font-size: 32px;
  padding: 5px;
}

.rojo {
  color: #09fefe;
  font-weight: lighter;
  font-size: 32px;
  padding: 10px;
}

.zapatilla {
  color: #0256ff;
  font-weight: lighter;
  font-size: 32px;
  padding: 10px;
}

#tipografia {
  font-size: 64px;
}

section h1 {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}

.medida {
  font-size: 30px;
  color: blue;
  padding: 0%;
  margin: 0%;
}

.tiempo {
  font-size: 20px;
  margin: 0%;
  padding: 0%;
}

body {
  background-color: blanchedalmond;
}

h1 {
  color: brown;
  padding: 10px;
  margin: 10px 500px 10px 500px;
  position: relative;
  font-family: fantasy;
}

p {
  color: black;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 32px;
  border: 5px solid burlywood;
}
